<div class="card mb-2 bg-dark text-center flex-fill">
  <a [href]="gif.images.downsized_medium.url">
    <shared-lazy-image
      [url]="gif.images.downsized_medium.url"
      [title]="gif.title || 'No Title'"
    ></shared-lazy-image>
    <!-- <img
        [src]="gif.images.downsized_medium.url"
        [alt]="gif.title"
        class="card-img-top"
      /> -->
    <div class="card-body text-white" *ngIf="MostrarValor">
      <p class="card-text">{{ gif.title || "No title" }}</p>
    </div>
  </a>
</div>
